appdirs==1.4.4
asgiref==3.3.1
astroid==2.5.1
autopep8==1.5.6
blinker==1.4
boto3==1.17.42
botocore==1.20.42
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
dbus-python==1.2.16
distlib==0.3.1
distro==1.5.0
dj-database-url==0.5.0
Django==3.1.6
django-environ==0.4.5
django-heroku==0.3.1
docopt==0.6.2
environ==1.0
filelock==3.0.12
gunicorn==20.1.0
httplib2==0.18.1
idna==2.10
isort==5.8.0
jeepney==0.4.3
jmespath==0.10.0
keyring==21.3.0
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
lazy-object-proxy==1.5.2
mccabe==0.6.1
netifaces==0.10.4
oauthlib==3.1.0
olefile==0.46
pexpect==4.6.0
Pillow==7.2.0
psycopg2==2.8.5
pycairo==1.16.2
pycodestyle==2.7.0
pycrypto==2.6.1
pycups==2.0.1
PyGObject==3.38.0
PyJWT==1.7.1
pylint==2.7.2
pylint-django==2.4.2
pylint-plugin-utils==0.6
PyQt5==5.15.0
python-apt==2.1.3+ubuntu1.3
python-dateutil==2.8.1
python-debian==0.1.37
pytz==2021.1
PyYAML==5.3.1
reportlab==3.5.47
requests==2.23.0
requests-unixsocket==0.2.0
s3transfer==0.3.6
SecretStorage==3.1.2
simplejson==3.17.0
sip==4.19.24
six==1.15.0
sqlparse==0.4.1
systemd-python==234
toml==0.10.2
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.9
usb-creator==0.3.7
vboxapi==1.0
virtualenv==20.4.3
virtualenv-clone==0.5.4
wadllib==1.3.4
whitenoise==5.2.0
wrapt==1.12.1
xkit==0.0.0
yarg==0.1.9
