{%extends "base.html" %}
{%block content%}
{% load static %}
{{lat|json_script:"lat" }}
{{ lon|json_script:"lon" }}
{{ addr|json_script:"addr"}}
<div id="map-container-sm">
  <div id="main-map-sm"></div>
</div>
<div>
    <form method="POST" action="{%url 'api-addspot'%}" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="lat" type="hidden" value="{{lat}}" readonly>
        <input name="lon" type="hidden" value="{{lon}}" readonly>
        
        <div class="row address-img-div">
            <div class="col s8 m8 address-div">
                <textarea name="addr" class="materialize-textarea">{{addr}}</textarea>
            </div>
            <div class="col s4 m4 image-div">
                <label for="input-image">
                    <i id="default-image" class="material-icons medium">photo_camera</i>
                    <img id="output" style="max-height: 100px; max-width: 100px">
                </label>
                <input id="input-image" class="display_none" type="file" name="image" accept="image/x-png,image/gif,image/jpeg"/>
                <script>
                    let inputImage = document.getElementById('input-image');
                    inputImage.onchange = function(e){
                        if(e.target.files && e.target.files[0]){
                            let output = document.getElementById('output');
                            output.src = URL.createObjectURL(e.target.files[0]);
                            output.onload = ()=>{
                            URL.revokeObjectURL(output.src)
                        }
                        }
                    }
                </script>
            </div>
        </div>
        <div class="row center notes-div">
            <textarea name="notes" class="materialize-textarea" placeholder="Notes, i.e. times of availability"></textarea>
        </div>
        <div class="row center btns-div">
            <button type="submit" class="btn rounded blue lighten-3 col s12">Add Spot</button>
            <a href="{%url 'main-app-home'%}" class="btn rounded grey left col s12">Back</a>
        </div>
    </form>  
</div>
<script
  type="module"
  src="{% static 'javascript/addspot_leaflet.js'%}"
></script>
{%endblock%}
