{%extends "base.html" %}
{% load static %}
{%block content%}
<div class="row center detail-overlay-container">
  <img class="materialboxed responsive-img "  src="{{spot.url}}" style="height: 40vh">
  <div class="overlay">
      {{spot.addr}}
      <div>
       <em> [{{spot.lat}},{{spot.lon}}]</em>
      </div>
      <div class="left">
      {%for i in rating_range%}
      {%if i < spot.rating%}
          <img src="{%static '/images/star_check.png'%}">
      {%else%}
          <img src="{%static '/images/star_uncheck.png'%}">
      {%endif %}
      {%endfor %}
    </div>
    <div class="right">
        {%if favorite == True%}
        <a href="{%url 'add-favorite' spot.id %}" class="red-text"><i class="material-icons">favorite</i></a>
        {%else%}
        <a href="{%url 'add-favorite' spot.id %}" class="white-text"><i class="material-icons">favorite</i></a>
        {%endif%}
        
    </div>
    </div>
</div>
<div class="container">
    <div class="row center">
        <a href="{%url 'main-app-home-refer' spot.id %}" class="col s3">
            <div class ="col s12">
                <img class="profile_icon" src="{% static 'images/icon_view.png'%}">
            </div>
            View
        </a>
        <a target="_blank" href="mailto:admin@spotter.com?subject=Report Spot #{{spot.id}}" class="col s3">
            <div class ="col s12">
                <img class="profile_icon" src="{% static 'images/icon_report.png'%}">
            </div>
            Report
        </a>
        <a href="#review-modal" class="col s3 modal-trigger">
            <div class ="col s12">
                <img class="profile_icon" src="{% static 'images/icon_review.png'%}">
            </div>
            Add Review
        </a>
        <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination={{spot.lat}}%2c{{spot.lon}}" class="col s3">
            <div class ="col s12">
                <img class="profile_icon" src="{% static 'images/icon_dir.png'%}">
            </div>
            Direction
        </a>
    </div>
</div>

  <!-- Modal Structure -->
  <div id="review-modal" class="modal">
    <form method="POST" action="{%url 'main-app-add-comment' spot.id%}">
    <div class="modal-content">
            {% csrf_token %}
            <div class="row center">
                <label for="rating">Rating: </label>
                <input type="range" id="rating" name="rating" min="1" max="5" value="5" step="1" style="width: 200px">
            </div>
            
            <div class="row center notes-div">
                <textarea name="notes" class="materialize-textarea" placeholder="Notes, i.e. times of availability"></textarea>
            </div>
    </div>
    <div class="modal-footer">
            <button type="submit" class="btn rounded blue lighten-3">Submit</button>
            <a href="{%url 'main-app-home'%}" class="btn rounded grey left">Back</a>
    </div>
    </form> 
  </div>
  <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
        elems = document.querySelectorAll('.materialboxed');
        M.Materialbox.init(elems, {});
  });
  
  </script>
<div class=container>
    {%for comment in spot.comment_set.all%}
    <div class="card">
        <div class="row valign-wrapper">
            <div class="col s3 ">
                <div class="profile_circle_sm valign-wrapper">
                    <img class="profile_sm center-block" src="{{comment.user.profile.url}}">    
                </div>
            </div>
            <div class="col s9">
                <strong>{{comment.user.username}}</strong>
                <p> {{comment.notes}}</p>
                    <div>
                        {%for i in rating_range%}
                        {%if i < comment.rating%}
                                <img src="{%static '/images/star_check.png'%}">
                            {%else%}
                                <img src="{%static '/images/star_uncheck.png'%}">
                            {%endif %}
                        {%endfor%}
                    </div>
                
            </div>  
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}
