{%extends "base.html" %}

{%block content%}
{%if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                        <div class=" row valign-wrapper">
                        <div class="col s2">
                            
                            <form id="update-profile-pic" action="{%url 'add-photo' %}" method="POST" enctype="multipart/form-data">
                                     {% csrf_token %}   
                            <label for="input-image">
                                <img src="{{profile.url}}" id="output" class="responsive-img circle">  
                            </label>
                            <input id="input-image" class="display_none" type="file" name="input-image" accept="image/x-png,image/gif,image/jpeg"/>
                            </form>  
                            <script>
                                let inputImage = document.getElementById('input-image');
                                inputImage.onchange = function(e){
                                    if(e.target.files && e.target.files[0]){
                                        let output = document.getElementById('output');
                                        output.src = URL.createObjectURL(e.target.files[0]);
                                        document.getElementById("update-profile-pic").submit();
                                        output.onload = ()=>{
                                        URL.revokeObjectURL(output.src)
                                    }
                                    }
                                }
                            </script>
                        </div>
                        <div class="col s5 flow-text">
                            <h1>{{user.username}}</h1>
                        </div>
                        <div class="col s5 right-align">
                            Stats:
                        </br>
                        Spots Posted:
                        </br>
                        Spots Commented:
                    
                        </div>
                        
                        </div>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. A dolore quidem deleniti perferendis porro tempora accusamus at itaque voluptate aut ducimus, ullam natus beatae distinctio, error ea pariatur explicabo doloremque?
                    
                </div>
            </div>
        </div>
    </div>
</div>
{%endif%}
{%endblock%}

