{%extends "base.html" %}
{% load static %}
{%block content%}

{%if user.is_authenticated %}
<div style="background-color: #EDF9FB; height: 100%">
        <div class="card col s12" style="margin-top: 0">
            <div class="card-content">
                <div class="row center">
                    <div class="col s12">
                        <form id="update-profile-pic" action="{%url 'add-photo' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}   
                        <label for="input-image">
                            
                            <div class="valign-wrapper profile_circle tooltipped" data-position="left" data-tooltip="Click to change profile picture">
                                <img src="{{user.profile.url}}" id="output" class="profile_lg center-block" >
                            </div>  
                        </label>
                        <input id="input-image" class="display_none" type="file" name="input-image" accept="image/x-png,image/gif,image/jpeg" />
                        </form>  
                        <script>
                            let inputImage = document.getElementById('input-image');
                            inputImage.onchange = function(e){
                                if(e.target.files && e.target.files[0]){
                                    let output = document.getElementById('output');
                                    output.src = URL.createObjectURL(e.target.files[0]);
                                    document.getElementById("update-profile-pic").submit();
                                    output.onload = ()=>{
                                    URL.revokeObjectURL(output.src)
                                }
                                }
                            }
                        </script>
                    </div>
                    <div class="col s12">
                        <h4>{{user.username}}</h4>
                    </div>
                </div>
            </div>
            <div class="card-action center">
                <div class="container">
                    <div class="row">
                        
                    
                    <div class="col s4">
                        <a href="javascript:openCollapsible(0);" class="btn-floating white blue-text"><i class="material-icons blue-text">favorite</i></a>&nbsp;&nbsp;{{user.favorite_set.count}}
                    </div>
                    <div class="col s4">
                        <a href="javascript:openCollapsible(1);" class="btn-floating white blue-text"><i class="material-icons blue-text">place</i></a>&nbsp;&nbsp;{{user.spot_set.count}}
                    </div>
                    <div class="col s4">
                        <a href="javascript:openCollapsible(2);" class="btn-floating white blue-text"><i class="material-icons blue-text">comment</i></a>&nbsp;&nbsp;{{user.comment_set.count}}
                    </div>
                </div>
                </div>
            </div>
        </div>
    <div >
            <ul class="collapsible">
                
                <li>
                    <a name="0"></a>
                  <div class="collapsible-header"><i class="material-icons">favorite</i>Favorites</div>
                  <div class="collapsible-body">
                    {%for favorite in user.favorite_set.all%}
                    <a href="/{{spot.id}}/detail">
                    <div class="card-panel black-text">
                        <div class="row">
                            <div class="col s3 m2 l1">
                                <div class="center"><strong>{{favorite.spot.user.username}}</strong></div>
                                <div class="profile_circle_sm valign-wrapper col s12">
                                    <img class="profile_sm center-block" src="{{favorite.spot.url}}">
                                       
                                </div>
                            </div>
                            <div class="col s9 m10 l11">
                                 
                                <strong>{{favorite.spot.addr}}</strong><br/>
                                <em> [Lat:{{favorite.spot.lat}}, Long:{{favorite.spot.lon}}]</em>
                                <blockquote>{{favorite.spot.notes}}</blockquote>
                                <div class="left">
                                    {%for i in rating_range%}
                                    {%if i < favorite.spot.rating%}
                                        <img src="{%static '/images/star_check.png'%}">
                                    {%else%}
                                        <img src="{%static '/images/star_uncheck.png'%}">
                                    {%endif %}
                                    {%endfor %}
                                </div>
                                <div class="right">
                                    <a href="{%url 'add-favorite' favorite.spot.id %}" class="red-text"><i class="material-icons">favorite</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    {%endfor%}
                  </div>
                </li>
                <li>
                    <a name="1"></a>
                  <div class="collapsible-header"><i class="material-icons">place</i>Spots Posted</div>
                  <div class="collapsible-body">
                    {%for spot in user.spot_set.all%}
                    <a href="/{{spot.id}}/detail">
                    <div class="card-panel black-text">
                        <div class="row">
                            <div class="col s3 m2 l1">
                                <div class="profile_circle_sm valign-wrapper col s12">
                                    <img class="profile_sm center-block" src="{{spot.url}}">    
                                </div>
                            </div>
                            <div class="col s9 m10 l11">
                                <strong>{{spot.addr}}</strong><br/>
                                <em> [Lat:{{spot.lat}}, Long:{{spot.lon}}]</em>
                                <blockquote>{{spot.notes}}</blockquote>
                                <div >
                                    {%for i in rating_range%}
                                    {%if i < spot.rating%}
                                        <img src="{%static '/images/star_check.png'%}">
                                    {%else%}
                                        <img src="{%static '/images/star_uncheck.png'%}">
                                    {%endif %}
                                    {%endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    {%endfor%}
                    </div>
                </li>
                <li>
                    <a name="2"></a>
                  <div class="collapsible-header"><i class="material-icons">comment</i>Comments</div>
                  <div class="collapsible-body">
                    {%for comment in user.comment_set.all%}
                    <a href="/{{comment.spot.id}}/detail">
                    <div class="card-panel black-text">
                                <img class="responsive-img circle" style="height: 64px; width: 64px" src="{{comment.user.profile.url}}">
                                User: {{comment.user.username}}
                                Address: {{comment.spot.addr}}
                                Comment: {{comment.notes}}
                                <div>
                                    {%for i in rating_range%}
                                        {%if i < comment.rating%}
                                            <img src="{%static '/images/star_check.png'%}">
                                        {%else%}
                                            <img src="{%static '/images/star_uncheck.png'%}">
                                        {%endif %}
                                    {%endfor %}
                                </div>
                            </div>
                        </a>
                    {%endfor%}
                  </div>
                </li>
              </ul>
    </div>
<div class="fixed-action-btn">
    <a href="#top"class="btn-floating btn-large white">
      <i class="large material-icons black-text">arrow_upward</i>
    </a>
  </div>
<script src="{% static 'javascript/profile.js' %}"></script>
</div>
{%endif%}
{%endblock%}

