{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialize CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <!-- Leaflet JS+CSS CDN-->
    <script src="https://unpkg.com/unfetch/polyfill"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!-- Leaflet Geo Search CDN -->
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <title>Spotter</title>
</head>
<body>
    <a name="top"></a>
    <nav id="nav-bar"> 
        <div id="nav-wrapper" class="nav-wrapper row">
            <div class="col s2 m3 logo-div">
                <a href="/" class="brand-logo left"><img id="logo" src="{% static 'images/SVG/Logo_Alt.svg' %}" alt="Logo"></a>
            </div>
            <div class="col s8 m6 search-div center">
                {%if user.is_authenticated%}
                <form name="search-form" id="search-form">
                    <div class="input-field">
                      <i class="material-icons black-text">search</i>
                        <input id="search" name="search" placeholder="Search" type="search" list="search-list" class="autocomplete" autocomplete="off" required>
                    </div>
                </form>  
                {%endif%}
            </div>
            <div class="col s2 m3 menu-div">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><img src="/static/images/SVG/HamburgerMenu.svg" alt="Menu-mobile"></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{%url 'main-app-home'%}">Home</a></li>
                    {%if user.is_authenticated%}
                    <li><a href="{%url 'logout'%}">Log Out</a></li>
                    <li>
                        <a href="{%url 'profile'%}" class="align-wrapper">
                            <img class="profile_icon circle" src="{{user.profile.url}}"/>
                        </a>
                    </li>
                    {%else%}
                    <li><a href="{%url 'login'%}">Log In</a></li>
                    <li><a href="{%url 'signup'%}">Register</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{%url 'main-app-home'%}">Home</a></li>
        {%if user.is_authenticated%}
        <li><a href="{%url 'profile' %}?open=favorite">Favorites</a></li>
        <li><a href="{%url 'profile'%}" class="valign-wrapper">Profile
            <!-- <img class="profile_icon circle" src="{{user.profile.url}}"/> -->
            </a>
        </li>
        <li><a href="{%url 'logout'%}">Log Out</a></li>
        {%else%}
        <li><a href="{%url 'login'%}">Log In</a></li>
        <li><a href="{%url 'signup'%}">Register</a></li>
        {%endif%}
    </ul>
    {%block content%}
    
    {%endblock%}
    {%if user.is_authenticated%}
    <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>
    <script type="module" src="{% static 'javascript/modules/search_bar.js' %}"></script>
    {%endif%}
</body>
</html>
