body{
    background-color: white;
}
/* tweak to allow search bar to share space with buttons */
#search{
    position: absolute;
    background-color: transparent;
    margin: 0;
}

#nav-bar{
    background-color: snow;
    color: black;
    height: auto;
}

#nav-wrapper{
    height: 100%;
    margin: 0;
}

#nav-wrapper>div{
    height: 100%;
}

#nav-wrapper>div>a{
    height: 100%;
}
/* set text color black for navbar */
#nav-mobile a{
    color: black;
}
/* set logo size to fit navbar */
.sidenav-trigger{
    position: relative;
    width: 100%;
}

.sidenav-trigger>i{
    color: #90CAF9 !important;
}

.sidenav li a{
    color: #90CAF9 !important;
}

.hide-on-med-and-down li a{
    color: #90CAF9 !important;
}

.search-div{
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.search-div>form{
    height: 38px;
}

.input-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 50px;
}

.input-field>i{
    color: #90CAF9 !important;
    margin-left: 20px;
}

.logo-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-div>a{
    position:sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

#logo{
    /* content: url("{% static 'images/SVG/Logo_Alt2.svg' %}"); */
    height: 60%;
    width: auto;
}

.menu-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Leaflet Map Stufff */
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
}

/* main map view */
#map-container{
    height: 100%
}
#main-map {
    height: 100%
}
/* add/detail view */
#map-container-sm{
    height: 40vh
}
#main-map-sm {
    height: 100%
}

/* profile image sizes */
img.profile_icon{
    width: 32px;
    margin-top: 15px;
}
img.profile_sm{
    width: 100px;
}

.search-main{
    border: 2px solid lightgray;
    width: 100%;
    height: auto;
    margin: auto;
    /* margin-top: 25px; */
    border-radius: 50px;
    background-color: rgb(141, 182, 207);
}

.search-myinput{
    max-width: 85%;
    height: auto;
}

.address-img-div{
    display: flex;
    flex-direction: row;
    height: 120px;
    margin: 10px;
    margin-top: 30px;
}

.address-div{
    /* width: 50%;
    height: 120px; */
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: rgb(227, 245, 255);
    margin-right: 5px;
}

.address-div>textarea{
    position: relative;
    padding: 10px;
    width: 100%;
    height: 95%;
    border: none;
    resize: none;
    outline: 0;
}

.image-div{
    /* width: 100%;
    height: 120px; */
    margin-left: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(227, 245, 255);
}

.image-div>label>i{
    color: #90CAF9 !important;
}

.notes-div{
    width: auto;
    height: 120px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: rgb(227, 245, 255);
}

.notes-div>textarea{
    position: relative;
    padding: 10px;
    width: 100%;
    height: 95%;
    border: none;
    resize: none;
    outline: 0;
}

.btns-div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#input-image{
    display: none;
    visibility: none;
}

@media screen and (max-width: 600px) {
    #logo {
        height: 50%;
        content:url("/static/images/SVG/Logo_Alt2.svg");
    }
}
#login-form input:not([type=submit]){
    border: 1px solid rgb(71, 71, 71);
    background-color: rgb(141, 182, 207);
    padding-left: 10px;
    border-radius: 20px;
}
#login-form input[type=submit]{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(71, 71, 71);
    background: rgb(33, 116, 184);
    padding-left: 10px;
    border-radius: 10px;
}

#main-map.loading{
    cursor:progress;
}