body{
    background-color: white;
}
/* tweak to allow search bar to share space with buttons */
#search{
    position: absolute;
    z-index: 2;
}
#search~label,i{
    z-index: 2;
}
#nav-bar{
    background-color: rgba(34, 167, 240, 0.5);
    color: black;
    height: auto;
}

#nav-wrapper{
    height: 100%;
    margin: 0;
}

#nav-wrapper>div{
    height: 100%;
}

#nav-wrapper>div>a{
    height: 100%;
}
/* set text color black for navbar */
#nav-mobile a{
    color: black;
}
/* set logo size to fit navbar */
#logo{
    position: relative;
    width: auto;
    height: 100%;
    z-index: 1;
}
/* Leaflet Map Stufff */
html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
}
#map-container{
    height: 100%
}
#main-map {
    height: 100%
}


/* profile image sizes */
img.profile_icon{
    width: 32px;
    margin-top: 15px;
}
img.profile_sm{
    width: 100px;
}
