*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
}

.nav-wrapper{
    background-color: snow;
}

.header-div{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.nav-brand-logo{
    width: 100%;
    height: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.brand-logo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: center;
}

#logo{
    width: 70%;
    margin-bottom: 20px;
}

#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

#login-form input:not([type=submit]){
    border: 1px solid rgb(71, 71, 71);
    background-color: #EDF9FB;   
    border-radius: 20px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

#login-form input[type=submit]{
    border: 1px solid rgb(71, 71, 71);
    background: linear-gradient(to right,#49C2E4, #4587E1);
    border-radius: 10px;
    width: 100%;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .header-div{
        justify-content: center;
    }
    #login-form input[type=submit]{
        width: 50%;
    }
    nav{
        display: none;
    }
    #signup-div{
        margin-top: 80%;
    }
}